* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(24, 30, 37);
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    gap: 50px
}

.nameOfSite {
    font-size: 2rem;
}

.nav-link {
    font-size: 1.5rem;
    transition: 0.5s ease;
    padding: 10px;
}

.nav-link:hover {
    color: rgb(9, 108, 201);
}

.nav-item {
    margin-left: 4rem;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

body {
    background-image: url(images/mobileTabletbackground.png);
}

/* Allows interactive hamburger menu to appear, and disappear when either the menu or menu items are clicked */
@media(min-width:480px) and (max-width:768px) {
    .hamburger {
        display: block;
        margin-left: 60%;
    }

    .hamburger:hover {
        color: rgb(9, 108, 201);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 7rem;
        flex-direction: column;
        background-color: rgb(24, 30, 37);
        width: 90%;
        border-radius: 10px;
        text-align: center;
        transition: 0.5s;
        box-shadow: 10px 10px rgb(66, 77, 87)
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }
}

@media(min-width:768px) and (max-width:1024px) {


}

    main > div{
        padding-top: 2rem;
        padding-left: 2.5rem;
        justify-content: space-evenly;
        align-content: space-evenly;
        display: grid;
        grid-gap: .5em;
        grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    }

    .images-container img {
        width: 90%;
        height: auto;
        border-style:ridge;
        border-color:rgb(160, 200, 200);
        border-width: .3rem;
        border-radius: .6rem;
    }