* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color:rgb(22, 21, 24);
}

li {
    list-style: none;
}

a {
color: white;
text-decoration:none ;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nameOfSite{
    font-size: 2rem ;
    color: white;
}

.nav-link {
    font-size: 1.5rem;
    transition: 0.5s ease;
    padding: 10px;
}

.nav-link:hover {
    color:rgb(0, 68, 255);
}

.nav-item {
    margin-left: 3rem;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.hambuger {
    display: none;
}


@media(max-width:768px){
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: black;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.5s;
        box-shadow: 0 10px grey
    }
    
    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0; 
    }

    .hambuger {
        display: block;
        cursor: pointer;
    }
}

.images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images-container img {
    width: 25%;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
}

body {
    background-color:beige;
}