* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background-color: rgb(77, 97, 119, .5);
    margin-left: .5rem;
    margin-right: .5rem;
    border-style: outset;
    border-width: 10px;
    border-color: black;
    border-radius: 1rem;
    padding-bottom: .6rem;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-right: 8%;
    margin-top: 2rem;
}

.nameOfSite {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 4rem;

}

.nav-link {
    font-size: 1.5rem;
    transition: 0.5s ease;
    padding: 10px;
}

.nav-link:hover {
    color: rgb(9, 108, 201);
}

.nav-item {
    margin-left: 4rem;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.storeHeader {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 235, 205, .7);
    color: black;
    margin: 2.5rem;
    border-style: outset;
    border-color: rgb(24, 30, 37);
    border-width: .3rem;
    border-radius: .6rem;
    box-shadow: 10px 10px rgba(129, 143, 156, 0.5);
}

.storeHeaderText {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    margin-left: 5rem;
}

body {
    background-image: url(images/mobileTabletbackground.png);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    padding-top: 2rem;
    padding-left: 2.5rem;
    gap: .5em;
}


.cardRow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    color:azure;
    margin-top: 2%;
}

.storeGallery{
    display: flex;
    flex-direction: row;
    width: 97%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.sketchCard{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: center;
    margin: .4rem;
    padding: .5rem;
    background-color:rgb(77, 97, 119, .5);
    border-style: outset;
    border-width: 10px;
    border-color: black;
    border-radius: 1rem;
}

img {
    width: 90%;
    height: auto;
    border-style: outset;
    border-color: rgb(0, 0, 0);
    border-width: .3rem;
    border-radius: 1rem;
    margin-left: 5%;
}



/* Animates hamburger menu when clicked, brings out a nav menu from the left,
and alters the "about me" section when size goes below the typical portrait-width
of a tablet. */

@media(max-width:767px) {
    .navbar {
        display: flex;
        flex-direction: row;
    }

    .nameOfSite {
        font-size: 2rem;
    }

    .hamburger {
        display: block;
        margin-left: 10px;
    }

    .hamburger:hover {
        color: rgb(9, 108, 201);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5.5rem;
        flex-direction: column;
        background-color: rgb(24, 30, 37);
        width: 93%;
        border-radius: 10px;
        text-align: center;
        transition: 0.5s;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.8);
    }

    .nav-menu.active {
        left: .75rem;
    }

    .nav-item {
        margin: 1.5rem 0;
    }
}

/* Alters the pictures and descriptions when size goes beyond a typical portrait-width of a tablet. */
@media (min-width:768px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        padding-top: 2rem;
        padding-left: 2.5rem;
        gap: .5em;
    }
    
    
    .cardRow {
        display: flex;
        color:azure;
        margin-left: 8%;
        margin-top: 20%;
    }

    .storeGallery{
        display: flex;
        flex-direction: row;
        width: 97%;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    h3 {
        padding-top: 10px;
    }
    
    .sketchCard{
        display: flex;
        max-width: 90%;
        padding: 1%;
        margin: 1%;
        background-color:rgb(77, 97, 119, .5);
        border-style: outset;
        border-width: 10px;
        border-color: black;
        border-radius: 1rem;
    }
    
    img {
        width: 50%;
        height: auto;
        border-style: outset;
        border-color: rgb(0, 0, 0);
        border-width: .3rem;
        border-radius: 1rem;
    }
    
}